.gmail-link {
    /* background-color: blueviolet; */
    margin-left: 1400px;
}

.bild-input-knappar {
    /* background-color: cadetblue; */
    margin: 250px;
}

.litevanster {
    margin-left: 50px;
}

.lite-mer-vanster {
    margin-left: 70px;
}

.footer-container {
    background-color: grey;
}

.koldioxid {
    /* background-color: blue; */
    margin-left: 200px;
}

/* div {
   display: inline; 
}

span {
    display: block;
} */

li {
    display: inline;
    background-color: green;
}

input[type=text] {
    border: 2px solid red;
  }

.padding-test {
    padding: 100px;
    /* margin: 100px; */
    background-color: brown;
}

.bla {
    background-color: blue;
}

.gul {
    background-color: yellow;
}

#prick-id {
    background-color: chocolate;
}

h1 {
    /* background-color: chartreuse; */
    /* font-size: 80px; */
}

#martins-h1-id {
    font-size: 80px;

}